{% extends 'base.html.twig' %}

{% block title %}MatchMaker index{% endblock %}

{% block body %}
<div class="center" id="tableau">
    <h1>Liste des match</h1>

    {# Curent match #}
    <table class="table striped tight sortable">
        <thead>
            <tr>
                <th>Id</th>
                <th>PlayerA</th>
                <th>PlayerB</th>
                <th>Winner</th>
                <th>ScorePlayerA</th>
                <th>ScorePlayerB</th>
                <th>Status</th>
                <th>EncounterDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match_maker in match_makers %}
            <tr>
                <td>{{ match_maker.id }}</td>
                <td>{{ match_maker.playerA.username }}</td>
                <td>{{ match_maker.playerB.username }}</td>
                <td>{{ match_maker.winner }}</td>
                <td>{{ match_maker.scorePlayerA }}</td>
                <td>{{ match_maker.scorePlayerB }}</td>
                <td>{{ match_maker.status }}</td>
                <td>{{ match_maker.encounterDate ? match_maker.encounterDate|date('Y-m-d') : '' }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('match_maker_show', {'id': match_maker.id}) }}"><input type="button" value="Details"></a>
                    <a href="{{ path('match_maker_edit', {'id': match_maker.id}) }}"><input type="button" value="Modification"></a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    {# latest match #}
    <table class="table striped tight sortable">
			<thead>
				<tr>
					<th>ID match</th>
					<th>Joueur 1</th>
					<th>Joueur 2</th>
					<th>Gagnant du match</th>
					<th>Score du joueur 1</th>
					<th>Score du joueur 2</th>
					<th>Etat du match</th>
					<th>Date du match</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for match_maker in match_makers_over %}
					<tr>
						<td>{{ match_maker.id }}</td>
						<td>{{ match_maker.playerA.username }}</td>
						<td>{{ match_maker.playerB.username }}</td>
						{% if match_maker.winner %}
							<td>{{ match_maker.winner.username }}</td>
						{% else %}
							<td></td>
						{% endif %}
						<td>{{ match_maker.scorePlayerA }}</td>
						<td>{{ match_maker.scorePlayerB }}</td>
						<td>{{ match_maker.status }}</td>
						<td>{{ match_maker.encounterDate ? match_maker.encounterDate|date('Y-m-d') : '' }}</td>
						<td>
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('match_maker_edit', {'id': match_maker.id}) }}"><input type="button" value="Modification"></a>
							{% endif %}

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    <a href="{{ path('match_maker_new') }}"><input type="button" value="Créer un utilisateur"></a>
         <a href="/"> <input type="button" value="Accueil"></a>
         </div>
{% endblock %}
